#dark-mode {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 23px;
    right: 40px;
    cursor: pointer;
}

#light-mode {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 23px;
    right: 40px;
    cursor: pointer;
    color: rgb(172, 172, 172);
}

@media only screen and (max-width: 1680px) {
    #dark-mode {
        height: 20px;
        width: 20px;
        top: 23px;
        right: 45px;
    }
    
    #light-mode {
        height: 20px;
        width: 20px;
        top: 23px;
        right: 45px;
    }
}