.dashboard-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#chevron-right {
    margin: 10px 0 0 16px;
    width: 30px;
    height: 50px;
}

img {
    margin-right: 4rem;
    width: 60px;
    height: 60px;
}

/* MARQUEE */
.marquee {
    padding: 20px;
    margin-left: 21.4rem;
    color: rgba(172,172,172);
    width: 77.9%;
}

.lm-marquee-container {
    background-color: white;
}
.dm-marquee-container {
    background-color: rgb(29, 39, 52);
}

.lm-marquee-data {
    color: rgba(72,72,72);
    font-weight: bold;
}
.dm-marquee-data {
    color: rgba(172,172,172);
    font-weight: bold;
}

/* GRID */
.grid-container {
    display: flex;
    margin-left: 21.4rem;
    gap: 20px;   
    width: 80%;
}

.grid {
    display: flex;
    justify-content: center;
    line-height: 0.4;
    text-align: right;
    padding: 40px 18px;
    color: rgba(172,172,172);
    width: 100%;
}

.lm-grid-box {
    background-color: white;
}
.dm-grid-box {
    background-color: rgb(29, 39, 52);
}

.lm-grid-data {
    color: rgba(72,72,72);
}
.dm-grid-data {
    color: rgba(172,172,172);
}

/* BARCHART */
.chart-container {
    display: flex;
    margin-left: 21.4rem;
    gap: 20px; 
    width: 80%;
}

.barchart {
    width: 21.7%;
    padding: 26px 45px;
}

.lm-barchart-box {
    background-color: white;
    color: rgba(72,72,72);
    
}
.dm-barchart-box {
    background-color: rgb(29, 39, 52);
    color: rgba(172,172,172);
}

/* PIECHART */
.piechart {
    padding: 26px 44px;
    width: 21.7%;
}

.lm-piechart-box {
    background-color: white;
    color: rgba(72,72,72);
}
.dm-piechart-box {
    background-color: rgb(29, 39, 52);
    color: rgba(172,172,172);
}

.lm-piechart-data {
    color: rgba(72,72,72);
    font-weight: bold;
}
.dm-piechart-data {
    color: rgba(172,172,172);
    font-weight: bold;
}

/* DATATABLE */
.datatable {
    width: 100%;
    padding: 26px 18px;
}
.lm-datatable-box {
    background-color: white;
    color: rgba(72,72,72);
}
.dm-datatable-box {
    background-color: rgb(29, 39, 52);
    color: rgba(172,172,172);
}

@media only screen and (max-width: 1680px) {
    img {
        padding-top: 10px;
        margin-right: 2rem;
        width: 50px;
        height: 50px;
    }

    #chevron-right {
        width: 28px;
        height: 48px;
    }

    /* MARQUEE */
    .marquee {
        padding: 18px 20px;
        margin-Left: 18rem;
        width: 77%;
    }

    /* GRID */
    .grid-container {
        margin-Left: 18rem;
        width: 79.6%;
    }

    .grid {
        padding: 30px 12px;
    }

    /* BARCHART */
    .chart-container {
        margin-Left: 18rem;
        width: 81.6%;
    }

    .barchart {
        width: 20.7%;
        padding: 24px 16px;
    }

    /* PIECHART */
    .piechart {
        padding: 24px 16px;
        width: 20.8%;
    }

    /* DATATABLE */
    .datatable {
        margin-right: 1.9rem;
        padding: 24px 16px;
    }
}